<%- include('./partials/header.ejs') %>

    <div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">
        <div class="row shadow-lg">
            <div class="d-flex flex-column justify-content-between col-auto bg-light min-vh-100 col-12">
                <div class="mt-4">

                    <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                        <li class="nav-item my-sm-1 my-2">
                            <a href="/admin/dashboard" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-gauge d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#categorymenu" data-bs-toggle="collapse"
                                class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-table d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Category</span>
                            </a>

                            <ul class="nav collapse ms-1 flex-column " id="categorymenu" data-bs-parent="#menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" style="font-size: .75rem;" href="/admin/category" aria-current="page">Categories</a>
                                    <a class="nav-link text-dark" style="font-size: .75rem;" href="/admin/category/add" aria-current="page">Add Category</a>
                                </li>
                            </ul>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#sidemenu" data-bs-toggle="collapse"
                                class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-shop d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Product</span>
                            </a>

                            <ul class="nav collapse ms-1 flex-column " id="sidemenu" data-bs-parent="#menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" style="font-size: .75rem;" href="/admin/product" aria-current="page">Products</a>
                                    <a class="nav-link text-dark" style="font-size: .75rem;" href="/admin/product/add" aria-current="page">Add Product</a>
                                </li>
                            </ul>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-truck-fast d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Orders</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="/admin/user" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-users  d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Users</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-users  d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Coupons</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />


                        <a href="/admin/dashboard/adminLogout" style="background-color: #7FAD39;color: #fff;width: 150px;" class="btn btn-sm fw-normal p-10 mb-3 mt-3">Logout</a> 

                    </ul>
                </div>


            </div>


        </div>

        

            
        <section class="gradient-custom container vh-100">
            <div class="container py-5 h-100 row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card shadow-2-strong card-registration">
                            <div class="card-body shadow" style="border-radius: 5px;">
                                
                                <form action="/admin/product/edit?id=<%= product._id %>" method="post" class="d-flex flex-column align-items-center mt-2" id="form" enctype="multipart/form-data">
                                    
                                    <div class="mb-3">
                                        <div class="fw-bold text-center fs-6 text-uppercase mb-1">Product Information</div>
                                    </div>
    
                                    <div class="col-md-6">
    
                                        <div class="form-outline mb-1">
                                            <label class="form-label" style="font-size: .75rem;" for="productName">Product Name</label>
                                            <input type="text" id="productName" name="productName" style="box-shadow: none;" class="form-control form-control-sm" value="<%= product.productName %>" required/>
                                        </div>
                                        
                                        <div class="form-outline mb-1 d-flex justify-content-between">
                                            <div class="col-6">
                                                <label class="form-label" style="font-size: .75rem;" for="category">Category</label>
                                                <select class="form-select form-select-sm input-sm shadow-none" name="category">
                                                    
                                                    <% categories.forEach((category)=>{ %>
                                                    <option value="<%= category._id %>" <% if(product.category == category._id ){ %> selected <% } %>><%= category.categoryName %></option>
                                                    <% }) %>

                                                </select>
                                            </div>
                                              
                                            <div class="col-5 d-flex justify-content-between">
                                                <div class="col-5">
                                                    <label class="form-label" style="font-size: .75rem;" for="price">Price</label>
                                                    <input type="text" id="price" name="price" style="box-shadow: none;" placeholder="00.00" class="form-control  form-control-sm" pattern="^\d+\.\d{2}$" value="<%= product.price %>" required/>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-outline mb-1">
                                                        <label class="form-label" style="font-size: .75rem;" for="quantity">Quantity</label>
                                                        <input type="number" min="0" id="quantity" name="quantity" style="box-shadow: none;" class="form-control  form-control-sm" value="<%= product.quantity %>" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-outline mb-1">
                                            <label class="form-label" style="font-size: .75rem;" for="blurb">Blurb</label>
                                            <textarea class="form-control form-control-sm" id="blurb" name="blurb" style="box-shadow: none;" rows="1" required><%= product.blurb %></textarea>
                                        </div>
                                        
                                        <div class="form-outline mb-1">
                                            <label class="form-label" style="font-size: .75rem;" for="description">Description</label>
                                            <textarea class="form-control form-control-sm" id="description" name="description" style="box-shadow: none;" rows="2" required><%= product.description %></textarea>
                                        </div>
                                        
                                        <!-- <div class="form-outline mb-1">
                                            <label class="form-label" style="font-size: .75rem;" for="image">Image</label>
                                            <input class="form-control form-control-sm" name="image" style="box-shadow: none;" type="file" id="formFileMultiple" value="<%= product.image %>" multiple >
                                        </div> -->
                      
                                      </div>
    
                                      <div id="error-field" class="text-danger fs-6"></div>
    
                                    <button type="submit" style="background-color: #7FAD39;color: #fff;width: 150px;" class="btn btn-sm fw-normal p-10 mb-3 mt-3">Update Product</button>    

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

       
    </div>

    <%- include('./partials/footer.ejs') %>