<%- include('./partials/header.ejs') %>

    <div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">
        
        <%- include('./partials/sidebar.ejs') %>

        

        <div class="table-scrollable">
            <table class="table table-light table-striped table-responsive" >
                <thead>

                    <tr>
                        <th>sl.no</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                    
                </thead>

                <tbody>

                    <% users.forEach((user,i)=>{ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= user.username %></td>
                            <td><%= user.email%></td>

                            <% if(user.isAccess){ %>
                                <th><span class="text-success">Active</span></th>
                            <% }else{ %>
                                <th><span class="text-danger">Blocked</span></th>
                            <% } %>

                            <td><a href="/admin/user/edit?id=<%= user._id %>">  <button type="button" class="btn btn-success">Edit</button></a></td>
                        </tr>
                    <% }) %>
                        
                        
                </tbody>
            </table>
          </div>

          

            

       
    </div>

    <%- include('./partials/footer.ejs') %>