<%- include('./partials/header.ejs') %>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a class="navbar-brand text-dark fs-4 fw-bold" href="#">FRESH<span class="text-danger">org</span></a>
        </div>
        <div class="humberger__menu__cart">
            
            <div class="header__top__right__auth">
                <% if(!id) {%>

                    <div class="header__top__right__auth">
                        <a onclick="login()"><i class="fa fa-user"></i> Login</a>
                    </div>

                    <% } else {%>
                    

                    <ul>
                        <li id="wishlist"><a href="/wishlist"><i class="fa fa-heart"></i> <span><% if(wishlist){ %><%= wishlist.items.length %><% }else{ %>0<% } %></span></a></li>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><% if(cart){ %><%= cart.items.length %><% }else{ %>0<% } %></span></a></li> 
                    </ul>

                    <div class="header__top__right__auth">
                        <a href="/profile"><i class="fa fa-user"></i><%= user.username %></a>
                    </div>

                    <div class="header__top__right__auth">
                        <a href="/logout" style="box-shadow: none;border: none;" class="btn btn-sm btn-outline-danger">Logout</a>
                    </div>
                    
                    <% } %>
            </div>

        </div>

        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <!-- <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li> -->
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a class="navbar-brand text-dark fs-4 fw-bold" href="#">FRESH<span
                                class="text-danger">org</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <!-- <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart header__menu">

                        <div class="header__top__right__auth">

                            <% if(!id) {%>
                            
                            

							<div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>

                            <% } else {%>
                            

                            <ul>
                                <li id="wishlist"><a href="/wishlist"><i class="fa fa-heart"></i> <span><% if(wishlist){ %><%= wishlist.items.length %><% }else{ %>0<% } %></span></a></li>
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><% if(cart){ %><%= cart.items.length %><% }else{ %>0<% } %></span></a></li>
                            </ul>

                            <div class="header__top__right__auth">
                                <a href="/profile"><i class="fa fa-user"></i><%= user.username %></a>
                            </div>

							<div class="header__top__right__auth">
                                <a href="/logout" style="box-shadow: none;border: none;" class="btn btn-sm btn-outline-danger">Logout</a>
                            </div>
                            
                            <% } %>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
        </div>
    </header>
    <!-- Header Section End -->

    <section class="gradient-custom container">
        <div class="container py-5 h-100 row justify-content-center align-items-center">
                <div class="col-12 col-lg-9 col-xl-8">
                    <div class="card shadow-2-strong card-registration">
                        <div class="card-body shadow" style="background-color: #EBEBEB;border-radius: 5px;">
                            
                            <form action="/address/add" method="post" class="d-flex flex-column align-items-center mt-1" id="form">
                                
                                <div class="mb-1">
                                    <div class="fw-bold text-center fs-5 text-uppercase mb-1">Enter Your Address</div>
                                    <hr class="bg-dark">
                                </div>


                                <div class="col-md-6">

                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="buildingName" style="font-size: .80rem;">Building Name</label>
                                        <input type="text" id="buildingName" name="buildingName" style="box-shadow: none;" class="form-control form-control-sm" required/>
                                    </div>
                                    
                                    <div class="form-outline mb-1">
                                        <label class="form-label" style="font-size: .80rem;" for="street">Street</label>
                                        <input type="text" id="street" name="street" style="box-shadow: none;" class="form-control form-control-sm" required/>
                                    </div>
                                    
                                    <div class="form-outline mb-1">
                                        <label class="form-label" style="font-size: .80rem;" for="city">City</label>
                                        <input type="text" id="city" name="city" style="box-shadow: none;" class="form-control form-control-sm" required/>
                                    </div>
                                    
                                    <div class="form-outline mb-1">
                                        <label class="form-label" style="font-size: .80rem;" for="state">State</label>
                                        <input type="text" id="state" name="state" style="box-shadow: none;" class="form-control form-control-sm " required/>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <label class="form-label" style="font-size: .80rem;" for="pincode">Pin Code</label>
                                            <input type="text" id="pincode" name="pincode" style="box-shadow: none;" class="form-control  form-control-sm" pattern="^\d{6}$" required/>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-outline mb-1">
                                                <label class="form-label" style="font-size: .80rem;" for="country">Country</label>
                                                <input type="text" min="0" id="country" name="country" style="box-shadow: none;" class="form-control  form-control-sm" required/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-outline mb-1">
                                        <label class="form-label" style="font-size: .80rem;" for="number">Phone Number</label>
                                        <input type="text" id="number" name="number" style="box-shadow: none;" class="form-control form-control-sm " pattern="^\d{10}$" required/>
                                    </div>
                  
                                  <input type="hidden" name="type" value="<%= type %>">

                                  <div id="error-field" class="text-danger"></div>

                                <button type="submit" style="background-color: #7FAD39;color: #fff;width: 200px;" class="btn fw-normal p-10 mb-3 mt-3">ADD</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>


<%- include('./partials/footer.ejs') %>
