<%- include('./partials/header.ejs') %>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__top__right__auth">
                <a class="navbar-brand text-dark fs-4 fw-bold" href="#">FRESH<span class="text-danger">org</span></a>
            </div>

        </div>

        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a class="navbar-brand text-dark fs-4 fw-bold" href="#">FRESH<span
                                class="text-danger">org</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">

                        <div class="header__top__right__auth">

                            <% if(!id) {%>
                            
                            

							<div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>

                            <% } else {%>
                            

                            <ul>
                                <li id="wishlist"><a href="/wishlist"><i class="fa fa-heart"></i> <span><% if(wishlist){ %><%= wishlist.items.length %><% }else{ %>0<% } %></span></a></li>
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><% if(cart){ %><%= cart.items.length %><% }else{ %>0<% } %></span></a></li>
                            </ul>

                            <div class="header__top__right__auth">
                                <a href="/profile"><i class="fa fa-user"></i><%= user.username %></a>
                            </div>

							<div class="header__top__right__auth">
                                <a href="/logout" style="box-shadow: none;border: none;" class="btn btn-sm btn-outline-danger">Logout</a>
                            </div>
                            
                            <% } %>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
        </div>
    </header>
    <!-- Header Section End -->

    <div class="container-fluid">
        <div class="row m-0 h-100">
            <div class="col mt-4">
                <div class="sticky-top">
                    <div class="row h-50 align-items-center">
                        <div class="col">
                            <div class="row h-75">
                                <div class="col">
                                    <div class="row justify-content-center">
                                        <div class="col-6 d-flex justify-content-center">
                                            <div style="height: 8rem;width: 8rem;border: .05rem solid rgb(174, 171, 171);"
                                                class=" rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="fa fa-user" style="font-size: 2.5rem;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-6 d-flex flex-column align-items-center">
                                            <div class="row">
                                                <%= user.username %>
                                            </div>
                                            <div style="font-size: .75rem;" class="row"><%=user.createdAt.toLocaleDateString('en-US', { month: 'long' ,
                                                day: 'numeric' , year: 'numeric' ,});%></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-6 d-flex flex-column">
                            <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem">
                                <a href="/profile" class="nav-link text-dark">Profile</a>
                            </div>
                            <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem">
                                <a href="/order" class="nav-link text-dark">Orders</a>
                            </div>
                            <div style="border: .05rem solid rgb(174, 171, 171);min-height: 2rem">
                                <a href="/address" class="nav-link text-dark">Address</a>
                            </div>
                            <div style="border: .05rem solid rgb(174, 171, 171);background-color: #7FAD39;min-height: 2rem">
                                <a href="/wallet" class="nav-link text-light">Wallet</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-md-7  mt-4">
                <% if(wallet !== null){ %>
                        <div class="row my-4">
                            <div class="col-12">
                            <div class="card rounded" style="background-color: rgb(245, 222, 222) !important;">
                                
                                <div class="card-body d-flex justify-content-between py-0 pr-0">
                                <span class="text-dark py-3">Available Balance</span>
                                <div class="col-lg-2 col-4 bg-white py-3 border-left text-center" style="border-color: rgb(231, 171, 171) !important;">
                                <span class="text-dark font-weight-bold">&#x20B9;<%=wallet.balance%></span>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% wallet.history.reverse().forEach((historyItem) => { %>
                        <div class="row">
                            <div class="card col-2 mb-3">
                                <% if (historyItem.type === "add") { %>
                                <img width="150" src="https://img.icons8.com/bubbles/200/plus.png" alt="plus"/>
                                <% } else { %>
                                    <img width="150" src="https://img.icons8.com/bubbles/150/minus.png" alt="minus"/>
                                    <% } %>
                            </div>
                        <div class="card mb-3 col-10 p-0">
                          <div class="card-body">
                            <h5 class="card-title">&#x20B9;<%= historyItem.amount %> <% if (historyItem.type === "add") { %>Credited to wallet<% } else { %>Debited From Wallet<% } %></h5>
                            
                          </div>
                          <div class="card-footer bg-white d-flex justify-content-between pb-0">
                            <p>Updated Balance: &#x20B9;<%= historyItem.newBalance %></p>
                            <p>Updated Date: <%= historyItem.updatedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                          </div>
                        </div>
                    </div>
                      <% }) %>
                <% } else {%>
                    <div class="row mt-4">
                        <div class="col-12">
                          <div class="card rounded border" style="background-color: rgb(245, 222, 222) !important;">
                            
                            <div class="card-body d-flex justify-content-between py-0 pr-0">
                              <span class="text-dark py-3">Available Balance</span>
                              <div class="col-lg-2 col-4 bg-white py-3 border-left text-center" style="border-color: rgb(231, 171, 171) !important;">
                              <span class="text-dark font-weight-bold">&#x20B9;0</span>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <% } %>

                </div>
            </div>
        </div>
        

    </div>
    </div>
    </div>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- sweet alert cdn -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        

    </script>

    <%- include('./partials/footer.ejs') %>